@import url("../../CSS/variables.css");

.signInModal {
    width: clamp(20px, 90vw, 500px);
    background-color: var(--color-one);
    border-radius: 25px;
    border: 0.1px solid var(--color-four);
    box-shadow: 0px 0px 50px 0px rgba(76, 75, 25, 0.75);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(76, 75, 25, 0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(76, 75, 25, 0.75);
    margin-top: 20px;
}

@media (max-width: 500px) {
    .signInModal {
        border-radius: 0;
    }
}

.providerButtons {
    display: flex;
    align-items: center;
}

.providerContainer {
    display: flex;
    justify-content: center;
}

.signInModal h2 {
    color: var(--color-two);
    text-align: center;
    font-size: 2.5rem;
}

.loginIcon {
    margin: 5px;
}

.providerButtons p {
    margin-right: 10px;
}

.closebutton {
    position: absolute;
    right: 25px;
}

.closebutton:hover {
    transform: scale(1.2);
}

.form input {
    display: block;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    outline: 0;
    width: calc(100% - 32px);
    border: 0.1px solid var(--color-four);
}

.form .errorText {
    text-align: center;
}

.form input::placeholder {
    color: var(--color-two);
}

.form .optionText {
    text-align: center;
}

.form input:focus {
    box-shadow: var(--input-shadow);
}

.form .submitButton {
    border: 0.1px solid var(--color-two);
    padding: 8px;
    background-color: var(--color-two);
    color: var(--color-one);
    border-radius: 8px;
    display: block;
    width: calc(100% - 8px);
    margin-top: 12px;
}

.form .submitButton:hover {
    background-color: #5e5d2d;
}

button {
    cursor: pointer;
}

.forgotButton,
.resetButton {
    border: 0;
    outline: 0;
    color: var(--color-two);
}

.forgotButton {
    position: absolute;
    right: 16px;
}
.optionText span {
    text-decoration: underline;
    cursor: pointer;
}

.signUpTab,
.signInTab {
    width: calc(calc(100% - 8px) / 2);
    margin-bottom: 16px;
    padding: 8px;
    border: 0.1px solid var(--color-two);
    border-radius: 8px;
    color: var(--color-two);
    background-color: #c9c9b9;
}

.activeTab {
    background-color: var(--color-two);
    color: var(--color-one);
}

.loadingDiv {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 69;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 70;
    background-color: var(--color-four);
    opacity: 0.5;
    width: 100vw;
    height: 100lvh;
}

.atomDiv {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 96;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 70;
    width: 100vw;
    height: 100lvh;
}
