@import url("../../CSS/variables.css");

.signInModal {
    width: clamp(20px, 90vw, 500px);
    background-color: var(--color-one);
    border-radius: 25px;
    border: 0.1px solid var(--color-four);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 500px) {
    .signInModal {
        border-radius: 0;
    }
}

.providerButtons {
    display: flex;
    align-items: center;
}

.loginIcon {
    margin: 5px;
}

.providerButtons p {
    margin-right: 10px;
}

.closebutton {
    position: absolute;
    right: 25px;
}

.closebutton:hover {
    transform: scale(1.2);
}

.form input {
    display: block;
    /* box-shadow: var(--input-shadow); */
    padding: 12px;
    border-radius: 12px;
    outline: 0;
    width: calc(100% - 32px);
    border: 0.1px solid var(--color-four);
}

.form input::placeholder {
    color: var(--color-two);
}

.form button {
    border: 0.1px solid var(--color-two);
    padding: 8px;
    background-color: #ded9ce;
    border-radius: 8px;
}

.optionText span {
    text-decoration: underline;
    cursor: pointer;
}
