@import url("../../CSS/variables.css");

.checkBox {
    width: 1rem;
    aspect-ratio: 1;
    outline: 0;
    accent-color: var(--color-two);
}

.checkBoxTd {
    padding: 10px;
}

.deleteButtonTd {
    padding: 10px;
    color: var(--color-two);
}

.editButton {
    color: var(--color-two);
}

.todoText {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    width: clamp(250px, 100vw, 700px);
    color: var(--color-two);
}

.todoItem {
    height: 50px;
    outline: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}

.todoItem:hover {
    background-color: #fbffdc;
}

.textFinished {
    text-decoration: line-through;
}

.editButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.deleteButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}
