.checkBox {
    width: 1rem;
    aspect-ratio: 1;
    outline: 0;
    accent-color: var(--color-two);
}

.checkBoxTd {
    padding: 10px;
}

.deleteButton {
    padding: 10px;
    color: var(--color-two);
    transition: transform 0.25s;
}

.editButton {
    color: var(--color-two);
    transition: transform 0.25s;
}

.todoText {
    font-size: 1rem;
    width: clamp(250px, 100vw, 700px);
    color: var(--color-two);
}

.todoItem {
    height: 50px;
    outline: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    background-color: #f8f2e8;
}

.todoItem:hover {
    background-color: #fbffdc;
}

.textFinished {
    text-decoration: line-through;
}

.editButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.deleteButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}
