.errorDiv {
    position: fixed;
    bottom: 0;
    left: 0;
    color: #111;
    right: 0;
    background-color: var(--color-error-transparent);
    border: 0.1px solid var(--color-two);
    padding: 10px;
}

.error {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 2px;
}

.code {
    display: inline-block;
}

.closeError {
    position: absolute;
    right: 10px;
    top: 10px;
}

.closeError:hover {
    color: var(--color-one);
}

.contact {
    position: absolute;
    top: 10px;
    right: calc(10px + 1.6rem + 8px);
}

.contact:hover {
    color: var(--color-one);
}
