:root {
    --color-one: #f7f1e5;
    --color-two: #4c4b16;
    --color-three: #e7b10a;
    --color-four: #898121;
    --color-error: #ff3333;
    --color-error-transparent: #ff3333f4;
    --input-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(76, 75, 22, 0.6);
}
