@import url("../../CSS/variables.css");
.displayPicture {
    width: 10em;
    aspect-ratio: 1;
    margin-top: 30px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    left: calc(50% - (10rem / 2));
}
.editAccount {
    width: clamp(20px, 90vw, 500px);
    background-color: var(--color-one);
    border-radius: 25px;
    border: 0.1px solid var(--color-four);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    margin-top: 20px;
}
.editAccount h2 {
    font-size: 2rem;
    text-align: center;
}

.signOutBtn {
    padding: 8px;
    background-color: var(--color-two);
    border: 0.2px solid var(--color-two);
    border-radius: 5px;
    color: var(--color-one);
}

.signOutBtn:hover {
    background-color: #5e5d2d;
}

.deleteAccDiv {
    padding: 8px;
    background-color: var(--color-error);
    border: 0.2px solid #eee;
    border-radius: 5px;
    color: var(--color-one);
}

.deleteAccDiv:hover {
    background-color: #e62e2e;
}

.connectionDiv button {
    display: block;
}
