@import url("../../CSS/variables.css");
.displayPicture {
    width: 10rem;
    height: 10rem;
    margin-top: 30px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    left: calc(50% - (10rem / 2));
    box-shadow: 0px 0px 50px 0px rgba(76, 75, 25, 0.75);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(76, 75, 25, 0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(76, 75, 25, 0.75);
}
.editAccount {
    position: fixed;
    width: clamp(20px, 90vw, 500px);
    height: 85vh;
    overflow-y: auto;
    background-color: var(--color-one);
    border-radius: 25px;
    border: 0.1px solid var(--color-four);
    box-shadow: 0px 0px 50px 0px rgba(76, 75, 25, 0.75);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(76, 75, 25, 0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(76, 75, 25, 0.75);
    top: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-two);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5e5d2d;
}

.editAccount h2 {
    font-size: 2rem;
    text-align: center;
}

.signOutBtn {
    padding: 8px;
    background-color: var(--color-two);
    border: 0.2px solid var(--color-two);
    border-radius: 5px;
    color: var(--color-one);
}

.signOutBtn:hover {
    background-color: #5e5d2d;
}

.deleteAccBtn {
    padding: 8px;
    background-color: var(--color-error);
    border: 0.2px solid #eee;
    border-radius: 5px;
    color: var(--color-one);
}

.deleteAccBtn:hover {
    background-color: #e62e2e;
}

.connectionDiv button {
    width: 170px;
    padding: 4px;
    margin-right: 5px;
    color: var(--color-two);
    border: 0.1px solid var(--color-two);
    border-radius: 4px;
    background-color: #f8f2e8;
}

.connectionDiv button:hover {
    background-color: #ded9ce;
}

.editingDiv input {
    display: block;
    padding: 12px;
    border-radius: 12px;
    margin-top: 12px;
    outline: 0;
    width: calc(100% - 32px);
    border: 0.1px solid var(--color-four);
}

.editAccount label {
    font-size: 105%;
}

.editAccount h4 {
    font-size: 110%;
}

.editingDiv button {
    margin-top: 8px;
    margin-bottom: 12px;
    border-radius: 12px;
    border: 0.1px solid var(--color-four);
    width: calc(100% - 10px);
    padding: 5px;
    color: var(--color-one);
    background-color: var(--color-two);
}

.editingDiv button:hover {
    background-color: #5e5d2d;
}

.editingDiv input:focus {
    box-shadow: var(--input-shadow);
}

.editingDiv input::placeholder {
    color: var(--color-two);
}

.deleteAccDialog {
    width: clamp(20px, 90vw, 500px);
    background-color: var(--color-one);
    border-radius: 25px;
    border: 0.1px solid var(--color-four);
    box-shadow: 0px 0px 50px 0px rgba(76, 75, 25, 0.75);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(76, 75, 25, 0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(76, 75, 25, 0.75);
    margin-top: 10%;
}

.deleteAccDialog h3 {
    color: var(--color-error);
}

.deleteAccDialog button {
    width: calc(50% - 4px);
    padding: 6px;
    margin: 2px;
    border-radius: 8px;
    border: 0.1px solid var(--color-two);
}

.deleteAccDialog .btnYes {
    background-color: var(--color-error);
    color: var(--color-one);
}

.deleteAccDialog input {
    display: block;
    padding: 12px;
    border-radius: 12px;
    margin-top: 12px;
    outline: 0;
    width: calc(100% - 32px);
    border: 0.1px solid var(--color-four);
}

.yesBtn {
    background-color: var(--color-error);
    color: var(--color-one);
    width: calc(100% - 9px) !important;
}
